NODE_ENV=development
PORT=3000
DATABASE_URI=mongodb://localhost:27017/backgroundjobexample?replicaSet=rs0

REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_USERNAME=
REDIS_PASSWORD=
REDIS_TLS=false
BULL_PREFIX=bg-job-example


SMTP_HOST=smtp.example.com
SMTP_PORT=587
SMTP_USER=
SMTP_PASSWORD=
SMTP_SECURE=false


MAIL_FROM_ADDRESS=no-reply@example.com
MAIL_FROM_NAME=Nest Mail Jobs
PASSWORD_HASH_ROUNDS=12
OUTBOX_RETENTION_DAYS=30
